# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Environnements virtuels =====
.env
.venv
venv/
env/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs =====
*.log

# ===== Données (souvent lourdes ou sensibles) =====
data/
datasets/
*.csv
*.xlsx
*.xls
*.json


# ===== Résultats =====
outputs/
results/
figures/
plots/

# ===== IDE =====
.vscode/
.idea/

# ===== Tests =====
.pytest_cache/
.coverage
htmlcov/

# ===== Latex / rapports =====
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk

# ===== Archives =====
*.zip
*.tar
*.gz
